.govuk-header__content {
  text-align: right;
}

.govuk-phase-banner {
  padding: 0;

  @include govuk-media-query(tablet) {
    margin-top: -govuk-spacing(5);
  }
}

.service-info--name {
  margin: govuk-spacing(2) 0 govuk-spacing(1);
}

.service-info {
  float: left;
}

.govuk-template--rebranded .govuk-service-navigation {
  .govuk-header__link {
    color: $govuk-link-colour;
  }

  .govuk-service-navigation__item--active {
    color: $govuk-link-colour;
  }
}
.govuk-template--rebranded .govuk-service-navigation--inverse {
  background-color: $govuk-brand-colour;

  .govuk-width-container {
    border-top: 1px solid govuk-colour('light-blue');
    border-bottom: 1px solid govuk-colour('light-blue');
    margin-bottom: govuk-spacing(2);
  }
  .govuk-service-navigation__toggle {
    color: govuk-colour('white');
  }

  .govuk-service-navigation__link {
    color: govuk-colour('white');
  }
}

@include govuk-media-query($from: tablet) {
  .govuk-service-navigation__wrapper {
    width: 100%;
    .govuk-service-navigation__item:last-child {
      margin-left: auto;
    }
  }
}
